.userinn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.userinn-icon {
    font-size: 2.5rem;
    border-radius: 50%;
    padding: 1rem;
}